[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-utilities01
Exec=sailfish-qml harbour-utilities01
Name=Utilities
Name[ru]=Утилиты

[X-Sailjail]
OrganizationName=io.github.roundedrectangle
ApplicationName=utilities01
Permissions=Audio;Bluetooth;Camera;Internet;Location;MediaIndexing;Microphone;NFC;RemovableMedia;UserDirs;WebView;Documents;Downloads;Music;Pictures;PublicDir;Videos;Compatibility;Secrets;Contacts;Accounts